replicas: 1

revisionHistoryLimit: 3

# See `kubectl explain deployment.spec.strategy` for more
# ref: https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#strategy
deploymentStrategy:
  type: RollingUpdate

readinessProbe:
  enabled: true

livenessProbe:
  enabled: true

image:
  repository: twinproduction/gatus
  tag: v2.1.0
  pullPolicy: IfNotPresent

  # Optionally specify an array of imagePullSecrets.
  # Secrets must be manually created in the namespace.
  # ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  # pullSecrets:
  #   - myRegistrKeySecretName

hostNetwork:
  enabled: false

# Expose the gatus service to be accessed from outside the cluster (LoadBalancer service)
# or access it from within the cluster (ClusterIP service). Set the service type and the port to serve it.
# ref: http://kubernetes.io/docs/user-guide/services/
service:
  type: ClusterIP
  port: 80
  annotations: {}
  labels: {}

ingress:
  enabled: false
  # For Kubernetes >= 1.18 you should specify the ingress-controller via the field ingressClassName
  # See https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/#specifying-the-class-of-an-ingress
  # ingressClassName: nginx
  # Values can be templated
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  labels: {}
  path: /
  hosts:
    - host: chart-example.local
  # Extra paths to prepend to every host configuration. This is useful when working with annotation based services.
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

# Extra environment variables that will be pass onto deployment pods
env: {}

resources: {}
#  limits:
#    cpu: 100m
#    memory: 32Mi
#  requests:
#    cpu: 50m
#    memory: 16Mi

# Node labels for pod assignment
# ref: https://kubernetes.io/docs/user-guide/node-selection/
nodeSelector: {}

config: {}
